@using Microsoft.AspNetCore.Identity
@using InsuranceRiskAssessment.DataAccessLayer.Data
@inject SignInManager<InsuranceBrokerUser> SignInManager
@inject UserManager<InsuranceBrokerUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей @User.Identity.Name!</a>
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Излез</button>
        </form>
}
else
{
        <a id="loginBtn" class="button bg-white black fw-600 no-underline mx-5" asp-area="Identity" asp-page="/Account/Register">Регистрирай се</a>
        <a id="registerBtn" class="button bg-white black fw-600 no-underline mx-5" asp-area="Identity" asp-page="/Account/Login">Вход</a>
}
