.container {
    width: 100vw;
    height: 880px;
}

.categories {
    padding-top: 130px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a{
    text-decoration:none;
}
.category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 250px
}

.category-text {
    color: white;
    font-size: 60px;
    padding: 50px;
    text-shadow: 2px 2px 4px #000000;
    
}

.icon {
    width: 50px;
    height: 50px;
}

#landCategory {
    background-color: #48BF91;
}

    #landCategory:hover {
        background-color: #20523f;
        cursor: pointer;
    }
        #landCategory:hover .category-text {
            color: #999999
        }
        #landCategory:hover .icon {
            color: white;
        }

#seaCategory {
    background-color: #0076BE;
}

    #seaCategory:hover {
        background-color: #00426a;
        cursor: pointer;
    }
        #seaCategory:hover .category-text {
            color: #999999
        }

        #seaCategory:hover .icon {
            color: white;
        }

#airCategory {
    background-color: #65cfed;
}

    #airCategory:hover {
        background-color: #438ea3;
        cursor: pointer;
    }

        #airCategory:hover .category-text {
            color: #999999
        }

        #airCategory:hover .icon {
            color: white;
        }
