#home {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)), url("../img/home-bkg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#nav {
    position: fixed;
    z-index: 1030;
}
#registerBtn,#loginBtn{
    margin-right:0px !important;
    height:2rem;
}
