@page
@model RegisterModel
@{
    ViewData["Title"] = "Insurance Risk Assesment - Регистрация";
}
<link rel="stylesheet" type="text/css" href="~/css/loginRegister.css" />

<div class="registerContainer">
    <div class="col-md-4">
        <section class="registerForm">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class='registerForm'>
                <h1 class='header'>Създай нов профил:</h1>
                <hr />
                <div class="form-group emailInput">
                    <label asp-for="Input.Email">Имейл:</label>
                    <input asp-for="Input.Email" class="form-control emailBox" /><br>
                </div>
                <div class="form-group passwordInput">
                    <label asp-for="Input.Password">Парола:</label>
                    <input asp-for="Input.Password" class="form-control passwordBox" /><br>
                </div>
                <div class="form-group passwordInput">
                    <label asp-for="Input.ConfirmPassword">Потвърди парола:</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control passwordBox" /><br>
                </div>
                    <button type="submit" class="button-register-partial">Регистрирай се</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
