@model InsuranceRiskAssessment.Web.Models.ViewModels.MovableProprtiesViewModels.AirTransport.AirTransportAddViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AirTransport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClimatZone" class="control-label"></label>
                <input asp-for="ClimatZone" class="form-control" />
                <span asp-validation-for="ClimatZone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Functionality" class="control-label"></label>
                <input asp-for="Functionality" class="form-control" />
                <span asp-validation-for="Functionality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManifactureYear" class="control-label"></label>
                <input asp-for="ManifactureYear" class="form-control" />
                <span asp-validation-for="ManifactureYear" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SecurityEquipmenPossession" /> @Html.DisplayNameFor(model => model.SecurityEquipmenPossession)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TechnicalServiceability" /> @Html.DisplayNameFor(model => model.TechnicalServiceability)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DistanceTraveled" class="control-label"></label>
                <input asp-for="DistanceTraveled" class="form-control" />
                <span asp-validation-for="DistanceTraveled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisteredCountry" class="control-label"></label>
                <input asp-for="RegisteredCountry" class="form-control" />
                <span asp-validation-for="RegisteredCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisteredRegion" class="control-label"></label>
                <input asp-for="RegisteredRegion" class="form-control" />
                <span asp-validation-for="RegisteredRegion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisteredCity" class="control-label"></label>
                <input asp-for="RegisteredCity" class="form-control" />
                <span asp-validation-for="RegisteredCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedAt" class="control-label"></label>
                <input asp-for="ModifiedAt" class="form-control" />
                <span asp-validation-for="ModifiedAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PreviousAccidents" /> @Html.DisplayNameFor(model => model.PreviousAccidents)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
