@model InsuranceRiskAssessment.Web.Models.ViewModels.MovableProprtiesViewModels.AirTransport.AirTransportDetailsViewModel

@{
    ViewData["Title"] = "Insurance Risk Assesment - Детайли";
}

<div class="details-container">
    <div class="details-box">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
    </div>
</div>

